body {
	background-image: url(http://7-themes.com/data_images/out/32/6879349-background-pictures.jpg);
}

h1 {
	padding-left: 15px;
	font-family: impact;
	color: white;
}

p {
	padding-left: 15px;
	color: white;
}

h3 {
	padding-left: 15px;
	color: white;