body {
	background-image: url(http://7-themes.com/data_images/out/32/6879349-background-pictures.jpg);
}

.jumbotron {
	background: rgb(51, 133, 255);
    background: rgba(51, 133, 255, 0.5); 
}

.jumbotron h1 {
	color: white;
}

h1 {
	padding-left: 5px;
	font-family: impact;
	}

p {
	padding-left: 15px;
	color: white;
}

a {
	color: white;
}


h3 {
	padding-left: 15px;
	color: white;
}

img {
  	height: 120px;
  	width: 120px;
  	-webkit-clip-path: circle(50% at 50% 50%);
  	float: left;
  	margin-right: 10px;
}